header {
    height: 100vh;
    background-image: url(../assets/elleGassnerHomeBgImage.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.navParent {
    display: flex;
    justify-content: space-between;
}
    
.mainNav {
    .desktopNav {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        a {
            text-decoration: none;
            color: $primaryColor;
            margin-left: 25px;
        }
    }

    .mobileNav {
        .dropdown {
            display: flex;
            flex-direction: column;
            margin: 10px 0 0 0;
            padding: 10px;

            li {
                background-color: $secondaryColor;
                padding: 15px; 
                margin: 0;
                text-align: center;

                    a {
                    text-decoration: none;
                    color: $primaryColor; 
                    }
            }
        }
    }
} 


    .headerContent {
        margin-top: 20%;

        h2 {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 0;
        }
    }


.aboutParent {
    margin: 10%;
    display: flex;
    align-items: center;

    .aboutImage {
        flex-basis: 35%;
    }

    .aboutContent {
        flex-basis: 50%;
        margin-left: 10%;

        h4 {
            text-transform: none;
            background-image: url(../assets/93812-[Converted].png);
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
}

.powerSkills {
    display: flex;

    .skillsImage {
        flex-basis: 50%;

        img {
            height: 400px;
            width: 700px;
            object-fit: cover;
        }
    }

    .skillsContent {
        flex-basis: 45%;
        margin: 0 0 5% 15px;

        h4 {
            font-size: 5rem;
            text-transform: none;
            margin: 0 0 15px 25px;
        }

        ul {
            list-style-type: ">";
            
            li {
                padding-left: 15px;
            }
        }
    }
}


.experienceSkills {
    background: $tertiaryColor;
    height: 600px;
    margin-top: 5%;

    h4 {
        font-size: 5rem;
        text-transform: none;
        margin: 25px 0 10px 10%;
    }
    .skillsIcons {
        font-size: 4rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;

        ul {
            display: flex;
            justify-content: space-between;
            padding: 5% 0;
        }
    }
}

.iconsTransform {
    display: none;  
    font-size: 1.5rem;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
}

.experienceSkills li {
        color: $primaryColor;
        position: relative;
        transition: all .5s ease-in;

        &:hover,
        &:active,
        &:focus {
            font-size: 5rem;
            transform: scale(1.25);

            .iconsTransform {
                display: block;
                position: absolute;
                bottom: -40px;
                left: 1px;
                transition: all 1s ease-in;
            }
        }
}


.websitesParent {
    display: flex;

    .websitesContent {
        flex-basis: 30%;

        h4 {
            background-image: url(../assets/93812-[Converted].png);
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .websitesImages {
        flex-basis: 50%;
        display: flex;
        margin-bottom: 10%;

        .website1,
        .website2 {
            flex-basis: 50%;

            img {
                height: 700px;
                object-fit: contain;
                margin-top: 25px;
            }

            h5 {
                margin: 25px 0;
            }

            a {
                text-decoration: none;
                background: $tertiaryColor;
                color: $primaryColor;
                padding: 10px;
                margin-right: 10px;

                &:hover,
                &:focus {
                    background: $secondaryColor;
                    transition: all 1s ease;
                }

                i {
                    margin-right: 5px;
                } 
            }
        }
    }
}


.project1Parent {
    display: flex;
    justify-content: space-between;
    margin: 10% auto;

    .project1Text {
        flex-basis: 50%;
        text-align: left;
        margin-top: 10%;
        margin-bottom: 5%;
        
        h4 {
            margin: 10px 0 25px 0px;
            background-image: url(../assets/93812-[Converted].png);
            background-position: left;
            background-repeat: no-repeat;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }

        .projectLinks {
            margin: 0 auto;

            a {
                text-decoration: none;
                background: $tertiaryColor;
                color: $primaryColor;
                padding: 10px;
                margin-right: 10px;

                &:hover,
                &:focus {
                    background: $secondaryColor;
                    transition: all 1s ease;
                }

                i {
                    margin-right: 5px;
                } 
            }
        }
    }

    .project1Content {
        display: flex;
        align-self: center;
    }
}


.project2Parent {
    display: flex;
    justify-content: space-between;
    margin: 10% auto;

    .project2ImageParent {
        display: flex;
        align-self: center;
    }

    .project2Content {
        flex-basis: 50%;
        margin-left: 30px;

        h4 {
            background-image: url(../assets/93812-[Converted].png);
            background-position: left;
            background-repeat: no-repeat;
            margin-bottom: 15px;
        }

        .projectLinks {
            margin: 0 auto;

            a {
                text-decoration: none;
                background: $tertiaryColor;
                color: $primaryColor;
                padding: 10px;
                margin-right: 10px;

                &:hover,
                &:focus {
                    background: $secondaryColor;
                    transition: all 1s ease;
                }

                i {
                    margin-right: 5px;
                }   
            }
        }
    }
}


.contactParent {
    margin-top: 10%;

    h4 {
        background-image: url(../assets/93812-[Converted].png);
        background-position: left;
        background-repeat: no-repeat;
    }

    .contactChild {
        display: flex;
        border: 10px solid $tertiaryColor;
        padding: 15px;
        justify-content: space-between;

        ul {
            padding: 200px 0 0 0;
            list-style-type: ">";

            li {
                padding-left: 15px;
                font-size: 1.5rem;
            }
        }
    }

    .socialIcons {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        a {
            font-size: 3rem;
            padding: 5px;
            color: $tertiaryColor;

            &:hover,
            &:focus {
                color: $secondaryColor;
                transition: all 1s ease;
            }
        }
    }
}


.contactForm {
    flex-basis: 60%;

    .userDetails {
        display: flex;
        justify-content: space-between;
    
        .userName,
        .userEmail {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
        }
    }

    .userMessage {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        padding: 15px 0;

        textarea {
            resize: none;
        }
    }

    .submitBtn {
        font-size: 2.5rem;
        text-transform: uppercase;
        background: $tertiaryColor;
        color: $primaryColor;
        padding: 10px;
        border: 3px solid $tertiaryColor;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            background-color: $secondaryColor;
            border: 3px solid $secondaryColor;
            transition: all 1s ease;
        }
    }
}

.footerParent {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;

    .toTop {
        color: $tertiaryColor;
        font-size: 3rem;

        &:hover,
        &:focus {
            color: $secondaryColor;
            transition: all 1s ease;
        }
    }

    .paintSwatchCredits {
        font-size: 1.5rem;
        text-decoration: none;
        color: $secondaryColor;
    }
}




