header {
    height: 100vh;
    background-image: url(../assets/elleGassnerHomeBgImage.png);
    background-size: cover;
    background-position: center;
    z-index: 10;


    .navParent {
        display: flex;
        justify-content: space-between;
        
        .mainNav ul {
            display: flex;
            justify-content: space-between;

            li {
                margin-left: 25px;
                padding-top: 10px;
            }
        }
    }

    .headerContent {
        margin-top: 25%;

        h2 {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 0;
        }
    }
}

.aboutParent {
    margin: 10%;
    display: flex;

    .aboutImage {
        flex-basis: 35%;
    }

    .aboutContent {
        flex-basis: 50%;
        margin-left: 10%;

        h4 {
            text-transform: none;
        }
    }
}




